{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>NguyenTienDat</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>

    <body>
       <div class="khunglon">
           <div class="khungtrai">
               <div class="khungtraitren">
                <img class="hinhanh" src="{% static 'dat.png' %}" alt="avatar">
               
               </div>
               <div class="khungtraiduoi">
                  <p class="ten">Nguyễn Tiến Đạt</p>
                  <p class="viec">INTERN DATA ENGINEER</p>
                  <br><br>
                  <div class="icon">
                    <i class="fas fa-mobile-alt"></i>
                    0973037401
                  </div>
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                    nguyetiedat@gmail.com
                  </div>
                  <div class="icon">
                    <i class="fas fa-home"></i>
                    District 12, Hồ Chí Minh city
                  </div>
               </div>

           </div>

           <div class="khungphai">
               <div class="boxresume">
                <p class="resume">Resume </p>
                
               </div>
               <br>
               <hr>
               <div class="box">
                <b>Objective:</b>
                <ul>
                    <li>Keep learning more knowlegde.</li>
                    <li>Complete task.</li>
                    <li>Get more experience in tech company enviroment.</li>
                    <li>Connect with more people.</li>
                </ul>
               </div>
              
               <hr>
                    <div class="box">
                        <b>Skills:</b>
                        <ul>
                            <li> <strong>Python:</strong>  have experienced with Pandas, Numpy, Django, Scrapy,...</li>
                            <li> <strong>C++:</strong>  understand code, have basic knowledge about class, function, pointer...</li>
                            <li> <strong> SQL:</strong> have experienced with DDL, DML, DQL.</li>
                            <li> <strong>Linux:</strong>  have experienced with command line.</li>
                            <li> <strong>English:</strong> Toeic 685/990</li>
                            <li> <strong> Microsoft Certification Azure Data Fundamentals:  </strong> 746/1000</li>
                            <li>Good at comunication with other people.</li>
                            <li>Keep learning to improve myself.</li>
                        </ul>
                    </div>
                <hr>
                    <div class="box">
                        <b>Education: </b>
                        <ul>
                            <li><strong>2017 - Now:</strong> University of Transport</li>
                            <li><strong>Major: </strong>Information Technology</li>
                        </ul>
                    </div>
               <hr>
               <div class="box">
                <b>Little Project:</b>
                <ul>
                    
                    <li> <strong>Name: Extract data from PDF</strong>  
                        <ul>
                        <li>Description: Using Python to extract necessary information in 600 PDF file, then store those information into CSV file.</li>
                        <li>Team size: 1</li>
                        <li>Duration: 2 weeks</li>
                        <li>Responsibilities: using Python to read PDF file, extract PDf to text, process text and store necessary information into CSV file.</li>
                        <li>Tech Stacks: Python(PyPDF2, json, pandas)</li>
                      </ul></li>
                      <li> <strong>Name: Extract data from JSON</strong>  
                        <ul>
                        <li>Description: Using API token of Coincapmarket to crawl JSON file aboutcryptocurrency, then extract useful data to CSV file.</li>
                        <li>Team size: 1</li>
                        <li>Duration: 1 day</li>
                        <li>Responsibilities: using Python to read JSON file, extract useful data in to CSV file</li>
                        <li>Tech Stacks: Python(json, pandas)</li>
                      </ul></li>
                </ul>
               </div>
           </div>
       </div>
    </body>
</html>
